@import url(default.css);

body {
    font-family: "Montserrat" sans-serif;
}

#header {
    margin: 40px 0px;
}

.wrapper {
    align-items: center;
}

nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 25px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li:first-child {
    font-weight: 600;
}

hr {
    height: 10px;
    border-top: 3px solid #c2c2c2;
}

